*
{
    margin: 0;
    padding: 0;
}

.webgl
{

    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}

/* bottom center aesthetic smallText */

#screenText {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    color: white;
    font-size:12px;
    font-style: italic;
    font-weight: bold;
    font-family:monospace;
    pointer-events: none;
    text-align: center;
    z-index: 20;
    transition: 2s ease;

}
/* Fade overlay */
#fade {
    position: fixed;
    inset: 0;
    background: black;
    pointer-events: none;
    z-index: 10;
    opacity: 1;
    
}
/* fade ready: state that determines the page has loaded. must be here AFTER page has loaded */
#fade.ready {
    transition: opacity 2s ease;
}

#fade.active {
    opacity: 0;

}

html,
body
{
    overflow: hidden;
    background-color: black;
}

/* flexbox */
#buttonContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    gap: 16px;
    
}
button{
    font-family: monospace;
    color: white;
    outline: 0px;
    background-color: black;
    opacity: 0;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px;
    border-radius: 0px;
    font-weight: bold;
}
button:hover{
    background-color: #333;
}
button:active{
    background-color: greenyellow;
}
button.ready{
    transition: opacity 2s ease;
}
button.active { /*fade in*/
    opacity: 1;
}



/* #buttonContainer.active {
    opacity: 1;
}
#buttonContainer.ready{
    transition: opacity 2s ease;
} */