*
{
    margin: 0;
    padding: 0;
}

.webgl
{

    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}

/* bottom center aesthetic smallText */

#screenText {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    color: white;
    font-size:12px;
    font-style: italic;
    font-weight: bold;
    font-family:monospace;
    pointer-events: none;
    text-align: center;
    z-index: 20;
    transition: 2s ease;

}
/* Fade overlay */
#fade {
    position: fixed;
    inset: 0;
    background: black;
    pointer-events: none;
    z-index: 15;
    opacity: 1;
    
}
/* fade ready: state that determines the page has loaded. must be here AFTER page has loaded */
#fade.ready {
    transition: opacity 2s ease;
}

#fade.active {
    opacity: 0;

}

html,
body
{
    overflow: hidden;
    overflow-y:auto;
    background: transparent;

}

/* flexbox */
#buttonContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    gap: 16px;
    
}
button{
    font-family: monospace;
    color: white;
    outline: 0px;
    background-color: black;
    opacity: 0;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px;
    border-radius: 0px;
    font-weight: bold;
}
button:hover{
    background-color: #333;
}
button:active{
    background-color: greenyellow;
}
button.ready{
    transition: opacity 2s ease;
}
button.active { /*fade in*/
    opacity: 1;
}

#about-us-container{
    font-family: monospace;
    background-color: rgba(10,10,10, 1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(160px, auto);
    gap: 64px;
    padding: 40px;
    z-index: 10;
    margin: 0 auto;
    
}

.box-left{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.box{
    background-color: rgba(33,33,33, 0.25);
    color:white;
    font-family: monospace;
    padding: 20px;
    display:grid;
    grid-template-columns: auto 1fr;
    border-radius:0px;
    word-wrap: break-word;
    font-family: monospace;
    z-index: 10;
}

canvas.webgl{
    z-index: 0;
}

#about-us-container .box:nth-child(odd){
    text-align: left;
    flex-direction: row;
}
#about-us-container .box:nth-child(even){
    grid-template-columns: 1fr auto;
    flex-direction: row-reverse;
}
#about-us-container .box:nth-child(even) .left{
    text-align: right;
    grid-column: 2;
}

#about-us-container .box:nth-child(even) .testimonial{
    grid-column: 1;
    text-align: right;
}
#about-us-container .box:nth-child(even) .identity{
    text-align: right;
    align-items: flex-end;
    grid-column: 2;
}

.lastname1{
    color:deeppink;
    font-weight:bold;
    font-size:24px;
}
.lastname2{
    color:aqua;
    font-weight:bold;
    font-size:24px;
}
@media (max-width: 768px){
    #about-us-container{
        grid-template-columns: 1fr;
    }
}

.portrait{
    width: 100px;
    height:100px;
    padding: 10px;
    height:100px;
    margin-bottom: 10px;
    background-color: black;
    display:inline-block

}

.name {
    padding-block-end: 10px;
    font-size: 20px;
    font-weight: thin;
    
}

.lastName {
    font-size: 22px;
    font-weight: bold;
    
}


.identity{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonial{
    font-size: 20px;
    flex:1;
}